.mainAboutUs {
  .container-fluid:nth-of-type(2) {
    background-color: #f8f9fc;
    .container {
      .mainAboutUs__content {
        padding-top: 60px;
        padding-bottom: 50px;
        .mainAboutUs__text-img {
          padding: 0 25px;
          position: relative;
          @media (max-width: 991.98px) {
            padding: 0;
          }
          .box-img {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            font-size: 0;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .box-text {
            display: block;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
            padding: 35px;
            position: relative;
            z-index: 1;
            background-color: $primary-main-5;
            left: 0;
            margin: -70px 35px 0 35px;
            @media (max-width: 767.98px) {
              margin: -50px 20px 0 20px;
              padding: 30px 30px 10px 30px;
            }
            @media (max-width: 575.98px) {
              margin: 0;
            }
            h3 {
              @include font-style(28px, $primary1_500, $base-text);
              margin-bottom: 30px;
            }
            p {
              @include font-style(17px, $primary1_400, $base-text);
              text-align: justify;
              line-height: 26px;
              padding-bottom: 20px;
            }
          }
          .slider__photos-clinic {
            cursor: pointer;
            margin-top: 90px;
            padding: 30px 30px 0 30px;
            @media (max-width: 575.98px) {
              padding: 20px 0 0 0;
            }
            .slider__photo {
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
              }
            }
            .owl-dots {
              position: absolute;
              top: -30px;
              right: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 767.98px) {
                justify-content: flex-start;
              }
              button {
                width: 12px;
                height: 12px;
                background-color: #ccc;
                border-radius: 50%;
                cursor: pointer;
                margin-left: 12px;
                color: $base-text;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .owl-dot.active {
                background-color: $base-color;
              }
            }
            .owl-nav {
              position: absolute;
              top: -80px;
              right: 15px;
              text-align: right;
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                width: 60px;
                height: 60px;
                border: 1px solid $base-text;
                border-radius: 50%;
                cursor: pointer;
                margin-left: 20px;
                color: $base-text;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                  margin: 0 auto;
                  @include font-style(30px, $primary1_400, $base-text);
                }
              }
            }
          }
        }
        .mainAboutUs__reviewsOfDoctors {
          .mainAboutUs__reviewsOfDoctors_content {
            padding: 0;
            .reviewsOfDoctors {
              .container-fluid {
                background-color: #f8f9fc;
                padding: 0 10px;
                @media (max-width: 767.98px) {
                  padding: 0;
                }

                .container {
                  padding: 0 15px;
                  @media (max-width: 767.98px) {
                    padding: 0;
                  }
                  .reviews__head_text {
                    text-align: center;
                    margin-bottom: 40px;
                    color: $base-text;
                    font-size: 28px;
                    display: flex;
                    justify-content: center;

                    @media (max-width: 991.98px) {
                      margin: 40px 0 35px 0px;
                      justify-content: flex-start;
                    }
                  }

                  .review__content {
                    .review__item {
                      background-color: $primary-main-8;
                      width: 100%;
                      margin: 0;
                      margin-bottom: 30px;
                    }
                    .review__item:nth-of-type(3) {
                      @media (max-width: 991.98px) {
                        margin-bottom: 30px;
                      }
                    }
                  }
                  .all__reviews {
                    a {
                      color: $base-text;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
