/* Color Theme Swatches in Hex */
$base-text: #505050;
$base-text1: mix(#505050, #fff, 70%);
$base-color: #04aac7;
$base-white: #fff;
//fonts
$primary1_100: "Roboto-Thin";
$primary1_300: "Roboto-Light";
$primary1_400: "Roboto-Regular";
$primary1_500: "Roboto-Medium";
$primary1_700: "Roboto-Bold";
$primary-1_900: "Roboto-Black";

// colors
$base-light: #fff;
$base-dark: #000;

// main-colors
$primary-main-1: #0c4459;
$primary-main-2: #1ebba3;
$primary-main-3: #02a3cc;
$primary-main-4: #276d7f;
$primary-main-5: #fcfcfc;
$primary-main-6: #1393b3;
$primary-main-7: #f8f8f8;

$primary-btn-1: #00cec8;

// primary-1
$li-1-1: mix($primary-main-2, #fff, 60%);
$li-2-1: mix($primary-main-2, #fff, 25%);
$li-3-1: mix($primary-main-2, #fff, 10%);

// $dl-1-1: mix($primary-1, #000, 80%);
// $dl-2-1: mix($primary-1, #000, 50%);
// $dl-3-1: mix($primary-1, #000, 30%);
// // primary-2
// $li-1-2: mix($primary-2, #fff, 60%);
// $li-2-2: mix($primary-2, #fff, 25%);
// $li-3-2: mix($primary-2, #fff, 10%);

// $dl-1-2: mix($primary-2, #000, 80%);
// $dl-2-2: mix($primary-2, #000, 50%);
// $dl-3-2: mix($primary-2, #000, 30%);
// // primary-3
// $li-1-3: mix($primary-3, #fff, 60%);
// $li-2-3: mix($primary-3, #fff, 25%);
// $li-3-3: mix($primary-3, #fff, 10%);

// $dl-1-3: mix($primary-3, #000, 80%);
// $dl-2-3: mix($primary-3, #000, 50%);
// $dl-3-3: mix($primary-3, #000, 30%);
// // primary-4
// $li-1-4: mix($primary-4, #fff, 60%);
// $li-2-4: mix($primary-4, #fff, 25%);
// $li-3-4: mix($primary-4, #fff, 10%);

// $dl-1-4: mix($primary-4, #000, 80%);
// $dl-2-4: mix($primary-4, #000, 50%);
// $dl-3-4: mix($primary-4, #000, 30%);