/* Color Theme Swatches in Hex */
$base-text: #505050;
$base-color: #04aac7;
$base-white: #fff;


//fonts
$primary1_300:'Roboto-Light';
$primary1_400:'Roboto-Regular';
$primary1_500:'Roboto-Medium';
$primary1_700:'Roboto-Bold';