/* Color Theme Swatches in Hex */
$base-text: #505050;
$base-color: #04aac7;
$base-white: #fff;
$HOSPITAL-1-hex: #0540F2;
$HOSPITAL-2-hex: #0C59F2;
$HOSPITAL-3-hex: #0460D9;
$HOSPITAL-4-hex: #033E8C;
$HOSPITAL-5-hex: #61BF36;

/* Color Theme Swatches in RGBA */
$HOSPITAL-1-rgba: rgba(4, 64, 242, 1);
$HOSPITAL-2-rgba: rgba(12, 88, 242, 1);
$HOSPITAL-3-rgba: rgba(4, 96, 216, 1);
$HOSPITAL-4-rgba: rgba(2, 62, 140, 1);
$HOSPITAL-5-rgba: rgba(97, 191, 53, 1);

/* Color Theme Swatches in HSLA */
$HOSPITAL-1-hsla: hsla(225, 96, 48, 1);
$HOSPITAL-2-hsla: hsla(219, 90, 49, 1);
$HOSPITAL-3-hsla: hsla(213, 96, 43, 1);
$HOSPITAL-4-hsla: hsla(213, 96, 28, 1);
$HOSPITAL-5-hsla: hsla(101, 56, 48, 1);

//fonts
$primary1_300:'Roboto-Light';
$primary1_400:'Roboto-Regular';
$primary1_500:'Roboto-Medium';
$primary1_700:'Roboto-Bold';