.header {
  background-color: $primary-main-5;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  right: 0;

  .header-top {
    @media (max-width: 991.98px) {
      display: none;
    }

    .container {
      .header-top__section {
        transition: 0.3s;
        margin-top: 0;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include font-style(16px, $primary1_500, $base-text);

        @media (max-width: 1199.98px) {
          font-size: 15px;

          i {
            padding-right: 7px;
          }
        }

        i {
          font-size: 18px;
          padding-right: 10px;
        }

        .header-top__btn {
          padding: 10px 17px;
          border: none;
          background-color: $base-color;
          @include font-style(16px, $primary1_500, $base-white);
          opacity: 0.8;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        .header-top__info {
          display: flex;
          align-items: center;

          a {
            color: $base-text;
          }
        }

        .address {
          span {
            font-family: $primary1_300;
          }
        }

        .header-social {
          a {
            transition: 0.3s;

            &:hover {
              color: $base-color;
            }
          }
        }

        .h-phone {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .sticky {
        margin-top: -61px;
      }
    }
  }

  .header-navigation {
    background-color: $primary-main-5;
    border-top: 1px solid rgb(225, 225, 225);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);

    .container {
      .header-navigation__section {
        display: flex;
        align-items: center;
        height: 90px;
        @include font-style(18px, $primary1_500, $base-text);
        background-color: $primary-main-5;

        @media (max-width: 991.98px) {
          display: flex;
          height: 80px;

          .mobile-navigation {
            display: block;
          }

          .logo {
            img {
              width: 150px;
            }
          }
        }

        .container-nav {
          display: flex;
          align-items: center;
          padding: 0;

          @media (max-width: 991.98px) {
            justify-content: space-between;

            .navigation {
              display: none;
            }

            .mobile-menu {
              display: flex;
            }
          }
        }

        .logo {
          img {
            width: 200px;
          }
        }

        .navigation {
          margin-left: 70px;

          width: 100%;

          ul {
            display: flex;
            justify-content: space-between;

            li {
              display: inline-block;
            }
          }

          .navigation__link {
            color: $base-text;
            opacity: 0.9;
            position: relative;
            transition: 0.2s;

            &:hover {
              opacity: 1;
            }
          }

          .link-red {
            color: #c90313;
          }

          @media (max-width: 991.98px) {
            display: none;
          }
        }

        .mobile-menu {
          display: none;
          align-items: center;
          justify-content: center;

          position: relative;
          width: 30px;
          height: 30px;

          .mobile-btn {
            cursor: pointer;
            width: 26px;
            height: 21px;
            position: absolute;
            outline: none !important;
            border: none;
            background: none;

            &:active,
            &:focus {
              outline: none;
            }

            .bar {
              left: 0;
              background: $base-color;
              width: 25px;
              height: 3px;
              display: block;
              border-radius: 3px;
              transition: all 0.3s ease-in-out;
              position: absolute;
            }

            .bar1 {
              top: 0;
            }

            .bar2,
            .bar3 {
              top: 9px;
            }

            .bar4 {
              bottom: 0;
            }

            .bar1-active {
              top: 9px;
              transform: rotate3d(0, 0, 1, -45deg);
              transform-origin: 50% 50%;
            }

            .bar2-active {
              transform: translateX(26px);
              background-color: transparent;
            }

            .bar3-active {
              transform: translateX(26px);
              background-color: transparent;
            }

            .bar4-active {
              transform: rotate3d(0, 0, 1, 45deg);
              transform-origin: 50% 50%;
              bottom: 9px;
            }
          }
        }

        .mobile-navigation {
          display: none;
          border-top: 1px solid rgb(225, 225, 225);
          opacity: 0;
          height: 0;
          width: 100%;
          position: fixed;
          z-index: 1;
          top: 79px;
          bottom: 0;
          left: 0;
          background-color: $primary-main-5;
          overflow-x: hidden;
          margin-top: -15px;
          transition: 0.3s;
          padding: 0 15px;

          .link-red {
            color: #d90416;
          }

          a {
            border-bottom: 1px solid rgb(225, 225, 225);
            opacity: 0.85;
            padding: 18px 0;
            display: block;
            transition: 0.3s;
            @include font-style(17px, $primary1_500, $base-text);
          }

          .mobile-social {
            display: flex;
            justify-content: center;

            a {
              border: none;
            }

            i {
              padding: 0 10px;
            }
          }
        }

        .show-m-navigation {
          margin-top: 0;
          height: auto;
          opacity: 1;
          background-color: darken($primary-main-5, 1%);
        }
      }
    }
  }
}
