.header {
  background-color: $primary-main-5;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  right: 0;

  .container-fluid1 {
    @media (max-width: 991.98px) {
      display: none;
    }

    .container {
      .header-section {
        .header-top {
          transition: 0.3s;
          margin-top: 0;
          height: 60px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          @include font-style(16px, $primary1_500, $base-text);

          @media (max-width: 1199.98px) {
            font-size: 15px;

            i {
              padding-right: 7px;
            }
          }

          i {
            font-size: 18px;
            padding-right: 10px;
          }

          .header-top__btn {
            padding: 10px 17px;
            border: none;
            background-color: $base-color;
            @include font-style(16px, $primary1_500, $base-white);
            opacity: 0.8;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }

          .header-top__info {
            display: flex;
            align-items: center;

            a {
              color: $base-text;
            }
          }

          .address {
            span {
              font-family: $primary1_300;
            }
          }

          .header-social {
            a {
              transition: 0.3s;

              &:hover {
                color: $base-color;
              }
            }
          }

          .h-phone {
            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .sticky {
          margin-top: -61px;
        }
      }
    }
  }

  .header-navigation {
    background-color: $primary-main-5;
    border-top: 1px solid rgb(225, 225, 225);
    // border-bottom: 1px solid #ccc;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);

    .container {
      .header-section {
        .header-nav {
          display: flex;
          align-items: center;
          height: 90px;
          @include font-style(18px, $primary1_500, $base-text);
          background-color: $primary-main-5;

          @media (max-width: 991.98px) {
            display: flex;
            height: 80px;

            .sidenav {
              display: block;
            }

            .logo {
              img {
                width: 150px;
              }
            }
          }

          .container-nav {
            display: flex;
            align-items: center;
            padding: 0;

            @media (max-width: 991.98px) {

              justify-content: space-between;

              .navigation {
                display: none;
              }

              .mobile-menu {
                display: flex;
              }
            }
          }

          .logo {
            img {
              width: 200px;
            }
          }

          .navigation {
            margin-left: 70px;

            width: 100%;

            ul {
              display: flex;
              justify-content: space-between;

              li {
                // padding: 0 20px;
                display: inline-block;
              }
            }

            .navigation__link {
              color: $base-text;
              opacity: 0.9;
              position: relative;
              transition: 0.2s;

              &:hover {
                opacity: 1;
              }
            }

            .navigation__link_red {
              color: red;
            }

            @media (max-width: 991.98px) {
              display: none;
            }
          }

          //burger
          .mobile-menu {
            display: none;
            align-items: center;
            justify-content: center;

            position: relative;
            width: 30px;
            height: 30px;

            .mobile__btn {

              cursor: pointer;
              width: 26px;
              height: 21px;
              position: absolute;
              outline: none !important;
              border: none;
              background: none;

              &:active,
              &:focus {
                outline: none;
              }

              .bar {
                left: 0;
                background: $base-color;
                width: 25px;
                height: 3px;
                display: block;
                border-radius: 3px;
                transition: all 0.3s ease-in-out;
                position: absolute;
              }

              .bar1 {
                top: 0;
              }

              .bar2,
              .bar3 {
                top: 9px;
              }

              .bar4 {
                bottom: 0;
              }

              .bar1-active {
                top: 9px;
                transform: rotate3d(0, 0, 1, -45deg);
                transform-origin: 50% 50%;
              }

              .bar2-active {
                transform: translateX(26px);
                background-color: transparent;
              }

              .bar3-active {
                transform: translateX(26px);
                background-color: transparent;
              }

              .bar4-active {
                transform: rotate3d(0, 0, 1, 45deg);
                transform-origin: 50% 50%;
                bottom: 9px;
              }
            }


          }

          // /burger

          //   mobile-navigation
          /* The side navigation menu */
          .sidenav {
            display: none;
            border-top: 1px solid rgb(225, 225, 225);
            // max-width: 664px;
            // margin: 0 auto;
            opacity: 0;
            height: 0;
            /* 100% Full-height */
            padding: 0;
            width: 100%;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 79px;
            bottom: 0;
            /* Stay at the top */
            left: 0;
            background-color: $primary-main-5;
            overflow-x: hidden;
            /* Disable horizontal scroll */
            /* Place content 60px from the top */
            margin-top: -15px;

            /* 0.5 second transition effect to slide in the sidenav */
            transition: 0.3s;


          }

          .open-nav {
            margin-top: 0;
            height: auto;
            opacity: 1;
            padding: 0;
            background-color: darken($primary-main-5, 1%);
            // height: 100%;
            // margin-left: 250px;
          }

          /* The navigation menu links */
          .sidenav a {
            border-bottom: 1px solid rgb(225, 225, 225);
            // height: 50px;
            // padding: 0 15px;
            opacity: 0.85;
            padding: 18px 0px;
            display: block;
            transition: 0.3s;
            @include font-style(18px, $primary1_500, $base-text);
          }

          /* When you mouse over the navigation links, change their color */
          .sidenav a:hover {
            opacity: 1;
          }

          /* Position and style the close button (top right corner) */
          .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }

          /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
          #main {
            transition: margin-left 0.5s;
            padding: 20px;
          }

          /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
          @media screen and (max-height: 450px) {
            .sidenav {
              padding-top: 15px;
            }

            .sidenav a {
              font-size: 18px;
            }
          }

          //   / mobile-navigation
        }
      }
    }
  }
}