
      .direction-content{
        // border: 1px solid blue;
        display: flex;
        .direction-text{
          // border: 1px solid blue;
          border-radius: 8px;
          background-color: $base-white;
          overflow: hidden;
          // margin: 20px 0 20px 20px;
          box-shadow: 0px 10px 20px rgba(#000, 0.1);
          padding: 0;
          @media (max-width: 767.98px) {
            margin: 15px 0;
          }
          .direction-heading{
            // border: 1px solid blue;
            margin-bottom: 20px;
            background:  url(../img/directions/9.jpg) no-repeat;
            filter: contrast(110%);
            background-size: cover;
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            @include font-style(24px, $primary1_500, $base-text);
            .heading{
              padding: 20px;
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              background: linear-gradient(90deg, rgb(255,255,255),rgba(255,255,255,0.3));
            }
        }
        .direction-description{
          // border: 1px solid blue;
          margin-bottom: 20px;
          padding: 20px;
          p{
            // border: 1px solid blue;
            @include font-style(14px, $primary1_400, $base-text);
            line-height: 1.5;
          }
          h4{
            // border: 1px solid blue;
            @include font-style(18px, $primary1_500, $base-text);
            line-height: 1.5;
            padding: 20px 0;

          }
          ul{
            // border: 1px solid blue;

            li{
              @include font-style(14px, $primary1_400, $base-text);
              padding: 0 15px 7px;
              position: relative;
              &::before{
                position: absolute;
                left: 0;
                top: 5px;
                display: block;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $base-color;
              }
            }
          }
        }
        .additional-description{
          // border: 1px solid blue;
          padding: 20px;
          .container-1{
            background-color: mix($base-color, $base-white, 5%);
            width: 50%;
            padding: 20px 30px;
            border: 1px solid mix($base-color, $base-white, 15%);
            @media (max-width:991.98px){
              width: 100%;
            }
            .heading{
              display: flex;
              i{
                color: mix($base-dark, $base-color,20%);
                font-size: 35px;
                margin-right: 15px;
             }
              span{
                @include font-style(22px, $primary1_500, mix($base-dark, $base-color,20%));
              }
            }
            p, ul{
              @include font-style(12px, $primary1_400, mix($base-dark, $base-color,10%));
              line-height: 1.5;
              margin-top: 20px;
            }
            ul{
              list-style-type: disc;
            }
          }
        }
        .price-a{
          // border: 1px solid blue;
          padding: 20px;
          // margin: 20px 0;
          a{
            @include font-style(16px, $primary1_400, $base-color);
            i{
              padding-left: 5px;
              font-size: 11px;
            }
          }
        }
        }
      }