.mainDoctorsAndReferrals {
  background-color: $primary-main-5;
  .container-fluid {
    .container {
      .mainDoctorsAndReferrals__navbar.open{
        @media (max-width: 991.98px) {
          width: 100%;
          opacity: 1;
          }
        .mainDoctorsAndReferrals__navbar-content{
          @media (max-width: 991.98px) {
          left: 0;
          #navbar-icon{
            left: 280px;
          }
          }
        }
      }
      .mainDoctorsAndReferrals__navbar {
        box-shadow: 0 0 5px 2px rgba($primary-main-1, 0.1);
        background-color: #f8f9fc;
        position: relative;
        padding-top: 15px;
        transition: .3s;
        @media (max-width: 991.98px) {
          padding: 0;
          position: fixed;
          z-index: 9;
          top: 81px;
          left: 0;
          bottom: 0;
          width: 0;
          background-color:rgba($base-light, 0.2);
          backdrop-filter: saturate(180%) blur(10px);
          // box-shadow: none;
          opacity: 1;
          
        }

        .mainDoctorsAndReferrals__navbar-content {
          transition: 0.3s all;
          position: sticky;
          top: 110px;
          padding-bottom: 30px;
          @media (max-width: 991.98px) {
          padding-top: 30px;
          padding-left: 15px;
            padding-bottom: 30px; 
            position: absolute;
            bottom: 0;
            top: 0;
            overflow: hidden;
            width: 300px;
            background-color: rgba(#f8f9fc, 0.85);
            backdrop-filter: saturate(180%) blur(10px);
            box-shadow: 0 0 5px 2px rgba($primary-main-1, 0.1);
            left: -300px;
            box-shadow: 0 0 5px 2px rgba($primary-main-1, 0.1);

          }

          li {
            display: flex;
            align-items: center;
            padding: 5px 0;
            cursor: pointer;
            transition: 0.3s color;
            border-bottom: 1px solid rgba($base-color, 0.15);
            h5{
            @include font-style(22px, $primary1_400, $base-color);
            width: 100%;
            padding:0 0 10px 15px;
            }
            @media (max-width: 1199.98px) {
              line-height: 19px;
            }
            @media (max-width: 991.98px) {
             h5{
              text-align: center;
             }
            }

            &:hover {
              a {
                color: $base-color;
              }
            }
          }

          .box-img {
            width: 30px;
            height: 30px;

            @media (max-width: 1199.98px) {
              width: 20px;
              height: 20px;
            }

            @media (max-width: 991.98px) {
              width: 30px;
              height: 30px;
            }

            img {
              height: 100%;
              width: 100%;
            }
          }

          a {
            padding: 5px 0 5px 8px;
            @include font-style(16px, $primary1_400, $base-text);
          }
        }
      }

      .mainDoctorsAndReferrals__cartsOfDoctors {
        padding: 20px 40px 20px 40px;

        @media (max-width: 1199.98px) {
          padding: 0 0 0 30px;
        }

        @media (max-width: 991.98px) {
          padding: 0;
        }
        @media (max-width: 767.98px) {
          padding: 0;
        }

        .ourDoctors__head-text {
            text-align: center;
            @include font-style(28px, $primary1_500, $base-color);
            padding: 20px;
        }

        .ourDoctors__main {
          text-align: center;

          .ourDoctors__cards {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 1199.98px) {
              padding: 20px 0;
            }

            @media (max-width: 767.98px) {
              padding: 0 0 20px 0;
            }

            .ourDoctors__item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              margin: 15px 20px;
              width: calc(33.33% - 40px);

              @media (max-width: 991.98px) {
                width: calc(50% - 40px);
              }

              @media (max-width: 466px) {
                width: calc(100% - 40px);
              }

              &:hover {
                img {
                  box-shadow: 0px 5px 20px rgba($primary-main-1, 0.7);
                }

                .ourDoctors__name {
                  color: $base-color;
                }
              }

              .ourDoctors__box-img {
                @media (max-width: 767.98px) {
                  margin-top: 20px;
                }

                img {
                  border-radius: 50%;
                  max-width: 220px;
                  height: auto;
                  transition: 0.3s all;

                  @media (max-width: 1199.98px) {
                    max-width: 200px;
                  }
                }
              }

              .ourDoctors__rating {
                padding: 10px 0;
                color: $base-color;
                font-size: 13px;
              }

              .ourDoctors__name {
                @include font-style(18px, $primary1_500, $base-color);
                padding-bottom: 8px;
                transition: 0.3s all;
              }

              .ourDoctors__trade {
                @include font-style(14px, $primary1_500, rgba($base-text, 0.7));
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
  .navbar-icon-wrapper{
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 10;
    padding: 10px;
    padding-bottom:4px;
    background-color:#f8f9fc;
    
    border-radius: 6px;
   #navbar-icon{
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  // #navbar-icon.open {
  //   transition: all .5s;
  //     left: 250px;
  // }
  #navbar-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $base-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #navbar-icon span:nth-child(1) {
    top: 0px;
  }
  
  #navbar-icon span:nth-child(2),#navbar-icon span:nth-child(3) {
    top: 10px;
  }
  
  #navbar-icon span:nth-child(4) {
    top: 20px;
  }
  
  #navbar-icon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  
  #navbar-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #navbar-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #navbar-icon.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}
}
