.ourAdvantages {
    .container-fluid {
        background-color: rgba($primary-main-1, .03);

        padding: 55px 0 0 0;

        @media (max-width: 991.98px) {
            padding: 35px 0 0 0;

        }

        .container {
            border-bottom: 2px solid rgba($base-color, 0.2);

            .ourAdvantages__head_text {
                @include font-style(30px, $primary1_500, $base-color);
                margin-bottom: 40px;

                h3 {
                    text-align: center;
                }
            }

            .ourAdvantages__content {
                padding: 0 0 45px 0;

                @media (max-width: 991.98px) {
                    padding: 0 0 25px 0;

                }

                .ourAdvantages__item:nth-of-type(-n + 2) {
                    @media (max-width: 767.98px) {
                        padding-bottom: 15px;
                    }
                }

                .ourAdvantages__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .ourAdvantages__box-img {
                        max-width: 75px;

                        @media (max-width: 991.98px) {
                            max-width: 75px;
                        }

                        @media (max-width: 575.98px) {
                            max-width: 60px;
                        }


                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .ourAdvantages__text {
                        p {
                            padding-top: 20px;
                            text-align: center;
                            @include font-style(18px, $primary1_400, $base-text);

                            @media (max-width: 991.98px) {
                                font-size: 16px;
                            }

                            @media (max-width: 575.98px) {
                                font-size: 14px;
                            }

                        }
                    }
                }
            }
        }
    }
}