.promotions {
  padding: 60px 0;
  background: linear-gradient(180deg,
      $primary-main-5,
      $primary-main-5,
      $primary-main-5,
      rgb(239, 239, 239));


  .container {
    .promotions-heading {
      text-align: center;
      margin: 0 0 40px 0;

      h2 {
        @include font-style(28px, $primary1_500, darken(#f27e63, 5%));

        @media (max-width: 767.98px) {
          width: 100%;
        }

        &::after {
          content: "";
          display: block;
          width: 150px;
          position: relative;
          bottom: -6px;
        }
      }

      h3 {
        padding-top: 10px;
        @include font-style(20px, $primary1_300, lighten($base-text, 15%));

        strong {
          font-size: 21.5px;
          font-family: $primary1_500;
        }
      }

      a {
        padding-top: 12px;
        display: block;
        @include font-style(16px, $primary1_400, darken($base-color, 5%));

        i {
          padding-left: 5px;
          font-size: 11px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 991.98px) {
        h2 {
          font-size: 28px;
        }

        h3 {
          font-size: 18px;
        }
      }

      @media (max-width: 767.98px) {
        h2 {
          font-size: 25px;
        }

        h3 {
          font-size: 17px;
        }
      }
    }

    // .promotions-content {
    //   .promotions-cards {
    //     display: flex;

    //     .promotions-item {
    //       margin-right: 15px;

    //       .promotions-card-content {
    //         overflow: hidden;
    //         height: 180px;
    //         border-radius: 5px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;

    //         .promotions-card-heading {
    //           border-radius: 5px;
    //           padding: 15px;
    //           margin-bottom: 15px;
    //           display: flex;

    //           .card-img {
    //             width: 75px;
    //             padding-left: 15px;
    //           }

    //           p {
    //             @include font-style(15px, $primary1_400, $base-white);
    //           }

    //           .p-bold {
    //             padding-bottom: 10px;
    //             @include font-style(18px, $primary1_400, $base-white);
    //           }
    //         }

    //         .promotions-card-text {
    //           background-color: rgba(255, 255, 255, 0.8);
    //           border-radius: 5px;
    //           padding: 15px 10px 10px;

    //           p {
    //             @include font-style(12.5px, $primary1_400, $base-text);
    //           }
    //         }

    //         .promotions-card-info {
    //           background: rgba(255, 255, 255, 0.8);
    //           padding: 10px 15px;
    //           display: flex;
    //           flex: 0 0 auto;
    //           justify-content: space-between;
    //           @include font-style(15px, $primary1_400, $base-text);

    //           .more-detail {
    //             background-color: #fff;
    //             border-radius: 5px;
    //             padding: 7px;
    //             text-transform: uppercase;
    //             @include font-style(12px, $primary1_500, $base-color);
    //           }

    //           .old-price {
    //             margin-left: auto;
    //             position: relative;
    //             padding-right: 15px;

    //             &:before {
    //               position: absolute;
    //               content: "";
    //               height: 1px;
    //               width: 100%;
    //               background-color: #e72a19;
    //               top: 8px;
    //               right: 10px;
    //               transform: rotate(20deg);
    //             }
    //           }

    //           .new-price {
    //             font-family: $primary1_500;
    //           }
    //         }
    //       }

    //       .promotions-card1 {
    //         background: linear-gradient(45deg, #8245bf, lighten(#8245bf, 15%));
    //       }

    //       .promotions-card2 {
    //         background: linear-gradient(45deg, #04d99d, lighten(#04d99d, 15%));
    //       }

    //       .promotions-card3 {
    //         background: linear-gradient(45deg, #f27e63, lighten(#f27e63, 15%));
    //       }

    //       .promotions-card4 {
    //         background: linear-gradient(45deg, #6805f2, lighten(#6805f2, 15%));
    //       }
    //     }
    //   }
    // }

    .promo-content {
      p {
        @include font-style(15px, $primary1_400, $base-text);
      }

      .cards-container {

        .p-card {

          border-radius: 8px;
          background: $base-white;
          overflow: hidden;
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);



          .card-header {
            background-size: cover;
            filter: contrast(130%);
            height: 180px;
            position: relative;

            .filter {
              padding: 20px 100px 20px 20px;
              background-color: rgba(0, 0, 0, 0.3);
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;

              .card-heading {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h5 {
                  @include font-style(20px, $primary1_500, $base-white);
                }

                p {
                  @include font-style(14px, $primary1_400, $base-white);
                }
              }
            }
          }

          .card-info {
            padding: 20px 20px 17px 20px;
            display: none;

            p {
              @include font-style(14px, $primary1_400, $base-text);
              line-height: 1.5;
              margin-bottom: 15px;
            }

            a {
              @include font-style(14px, $primary1_500, $base-white);
              padding: 5px 8px;
              border-radius: 5px;
              background: $base-color;
              display: block;
              width: min-content;
            }
          }
        }

        .p-card-1 {
          .card-header {
            background: url(../img/promotions/1.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-2 {
          .card-header {
            background: url(../img/promotions/2.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-3 {
          .card-header {
            background: url(../img/promotions/3.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-4 {
          .card-header {
            background: url(../img/promotions/4.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-5 {
          .card-header {
            background: url(../img/promotions/5.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-6 {
          .card-header {
            background: url(../img/promotions/6.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-7 {
          .card-header {
            background: url(../img/promotions/7.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-8 {
          .card-header {
            background: url(../img/promotions/8.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-9 {
          .card-header {
            background: url(../img/promotions/9.jpg) no-repeat;
            background-size: cover;
          }
        }

        .p-card-10 {
          .card-header {
            background: url(../img/promotions/10.jpg) no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
}

.prices {
  padding: 45px 0;
  background-color: #f8f9fc;


  .container {
    .prices-heading {
      margin: 0 0 40px 0;

      h2 {
        @include font-style(28px, $primary1_500, $base-color);
        margin-bottom: 10px;

        &::after {
          content: "";
          display: block;
          width: 150px;
          border-bottom: 2px solid;
          position: relative;
          bottom: -6px;
        }
      }

      h3 {
        padding-top: 10px;
        @include font-style(18px, $primary1_300, $base-text);
      }

      @media (max-width: 991.98px) {
        h2 {
          font-size: 28px;
        }

        h3 {
          font-size: 18px;
        }
      }

      @media (max-width: 767.98px) {
        h2 {
          font-size: 25px;
        }

        h3 {
          font-size: 17px;
        }
      }
    }

    .prices-content {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0px 10px 20px rgba(#000, 0.1);
      padding: 25px 0px 35px;

      .list-heading {
        padding: 0px 20px 15px;
        @include font-style(21px, $primary1_400, lighten($base-text, 30%));
      }

      .prices-list {
        padding: 0px 0px 0px 45px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        .prices-list__item {
          position: relative;
          border-top: 1px solid #eee;
          padding: 15px 0;
          position: relative;
          cursor: pointer;
          @include font-style(16px, $primary1_400, $base-text);
          transition: 0.3s;
          position: relative;

          i {
            position: absolute;
            top: 12px;
            left: -25px;
            color: $base-color;
            font-size: 21px;
          }

          p {
            font-size: 16px;
          }

          span {
            text-align: center;
            top: 15px;
            padding: 0 15px;
            font-size: 22px;
            font-weight: 500;
            position: absolute;
            right: 0;
            transition: transform 0.3s;
          }

          .table__container {
            overflow: hidden;
            max-height: 0px;
            height: 0;
            min-height: 0;
            opacity: 0;
            transition: 0.3s;
            padding-right: 15px;
          }

          .show__table {
            opacity: 1;
            height: auto;
            max-height: 1000px;
            min-height: 100px;
          }

          .table-prices {
            width: 100%;
            border: 1px solid #eee;

            tbody {
              color: lighten($base-text, 10%);

              tr {
                width: 100%;

                td {
                  padding: 10px 15px;
                }

                .prices-detail {
                  font-size: 12px;
                  color: lighten($base-text, 15%);
                }
              }
            }
          }

          @media (max-width: 767.98px) {
            .list-heading {
              font-size: 15px;
            }

            font-size: 14px;

            .table-prices {
              tbody {
                tr {
                  td {
                    padding: 15px 10px;
                  }

                  td:nth-of-type(2) {
                    width: 70px;
                  }
                }
              }
            }
          }
        }

        .prices-list__item:nth-of-type(1) {
          border: none;
        }
      }
    }
  }
}