.breadcrumbs {
  margin-top: 150px;

  @media (max-width: 991.98px) {
    margin-top: 80px;
  }

  .container-fluid {
    background-color: $base-color;
    position: relative;
    z-index: 1;

    .container {
      .row {
        flex-direction: column;

        .breadcrumbs__content {
          border-bottom: 1px solid rgba($primary-main-5, 0.5);
          padding: 15px 0 15px 5px;
          @include font-style(17px, $primary1_300, $primary-main-5);

          @media (max-width: 767.98px) {
            border-bottom: none;
          }

          a {
            @include font-style(17px, $primary1_400, $primary-main-5);

            color: $primary-main-5;
          }

          i {
            padding: 0 10px;
            font-size: 12px;
          }
        }

        .breadcrumbs__content + div {
          display: flex;
          padding-top: 20px;

          .mainDoctorsAndReferrals__navbar-head {
            @include font-style(28px, $primary1_500, $primary-main-5);
            padding-left: 15px;

            @media (max-width: 991.98px) {
              font-size: 25px;
            }

            @media (max-width: 767.98px) {
              display: none;
            }
          }

          .ourDoctors__head-text {
            margin: 0 0 20px 0;
            @include font-style(28px, $primary1_500, $primary-main-5);
            text-align: center;

            @media (max-width: 991.98px) {
              font-size: 25px;
              text-align: right;
            }

            @media (max-width: 767.98px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.ribbon {
  padding: 10px;

  background: #eee;

  .container {
    .ribbon-content {
      p {
        text-align: center;
        @include font-style(12px, $primary1_400, $base-text);
        letter-spacing: 0.3px;

        a {
          letter-spacing: 0;

          &:hover {
            text-decoration: underline;
          }

          i {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.promotions {
  padding: 46px 0;
  background: linear-gradient(
    180deg,
    $primary-main-5,
    $primary-main-5,
    $primary-main-5,
    rgb(239, 239, 239)
  );

  .container {
    .promotions-heading {
      margin: 0 0 40px 0;
      // text-align: center;
      @include font-style(30px, $primary1_500, darken(#f27e63, 5%));

      h3 {
        @media (max-width: 991.98px) {
          // width: 70%;
        }

        @media (max-width: 767.98px) {
          width: 100%;
        }

        &::after {
          content: '';
          display: block;
          width: 150px;

          // border-bottom: 2px solid;
          position: relative;
          bottom: -6px;
        }
      }
    }

    .promotions-content {
      .promotions-cards {
        display: flex;

        .promotions-item {
          margin-right: 15px;

          .promotions-card-content {
            overflow: hidden;
            // padding: 10px;
            // width: 330px;
            min-height: 180px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 1199.98px) {
              // width: 287px;
            }

            @media (max-width: 991.98px) {
              // width: 315px;
            }

            @media (max-width: 767.98px) {
              // width: 315px;
            }

            .promotions-card-heading {
              margin: 10px;
              // background-color: rgba(255, 255, 255, 0.8);
              border-radius: 5px;
              padding: 10px;
              margin-bottom: 15px;
              display: flex;

              .card-img {
                padding-left: 10px;
                margin: 0 auto;
                width: 75px;
              }

              p {
                @include font-style(15px, $primary1_400, $base-white);
              }

              .p-bold {
                padding-bottom: 10px;
                @include font-style(18px, $primary1_400, $base-white);
              }
            }

            .promotions-card-text {
              background-color: rgba(255, 255, 255, 0.8);
              border-radius: 5px;
              padding: 15px 10px 10px;

              p {
                @include font-style(12.5px, $primary1_400, $base-text);
              }
            }

            .promotions-card-info {
              background: rgba(255, 255, 255, 0.8);
              padding: 15px;

              display: flex;
              justify-content: space-between;
              @include font-style(15px, $primary1_400, $base-text);

              .more-detail {
                background-color: #fff;
                border-radius: 5px;
                padding: 7px;
                text-transform: uppercase;
                @include font-style(12px, $primary1_500, $base-color);
              }

              .old-price {
                margin-left: auto;
                position: relative;
                padding-right: 15px;

                &:before {
                  position: absolute;
                  content: '';
                  height: 1px;
                  width: 100%;
                  background-color: #e72a19;
                  top: 8px;
                  right: 10px;
                  transform: rotate(20deg);
                }
              }

              .new-price {
                font-family: $primary1_500;
              }
            }
          }

          .promotions-card1 {
            background: linear-gradient(45deg, #8245bf, lighten(#8245bf, 15%));
          }

          .promotions-card2 {
            background: linear-gradient(45deg, #04d99d, lighten(#04d99d, 15%));
            // background-color: #04d99d;
          }

          .promotions-card3 {
            background: linear-gradient(45deg, #f27e63, lighten(#f27e63, 15%));

            // background-color: #f27e63;
          }

          .promotions-card4 {
            background: linear-gradient(45deg, #6805f2, lighten(#6805f2, 15%));

            // background-color: #6805f2;
          }
        }
      }
    }
  }
}

.prices {
  padding: 45px 0;
  background: $primary_main-5;

  .container {
    .prices-heading {
      // text-align: center;
      margin: 0 0 40px 0;
      @include font-style(30px, $primary1_500, $base-color);

      h3 {
        @media (max-width: 991.98px) {
          // width: 70%;
        }

        @media (max-width: 767.98px) {
          width: 100%;
        }

        &::after {
          content: '';
          display: block;
          width: 150px;
          // border-bottom: 2px solid;
          position: relative;
          bottom: -6px;
        }
      }
    }

    .prices-content {
      .prices-list {
        .prices-list__item {
          border-top: 1px solid #eee;
          padding: 15px 0;
          position: relative;
          cursor: pointer;
          @include font-style(16px, $primary1_400, $base-text);
          transition: 0.3s;

          p {
            font-size: 19px;
          }

          span {
            top: 15px;
            font-size: 20px;
            font-weight: 500;
            position: absolute;
            right: 0;
            transition: transform 0.3s;
          }

          .table-prices {
            display: none;
            width: 100%;
            border: 1px solid #eee;

            tbody {
              color: $base-text;

              tr {
                width: 100%;

                td {
                  padding: 10px 15px;
                }

                .prices-detail {
                  font-size: 12px;
                  color: lighten($base-text, 10%);
                }
              }
            }
          }

          @media (max-width: 767.98px) {
            font-size: 14px;

            p {
              font-size: 16px;
            }

            .table-prices {
              tbody {
                tr {
                  td {
                    padding: 10px 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
