.preloader {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s all;
  background-color: #fff;
  opacity: 1;
  visibility: visible;

  .linePreloader {
    position: absolute;
    top: 95px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 3px;
    margin: auto;
    animation: scroll 2s ease-in-out infinite;
    background: linear-gradient(to right, #bcd7e2, #04b2d9);
    background-color: #dde1e4;
    border-radius: 4px;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
  }

  @keyframes scroll {
    50% {
      background-size: 80%;
    }

    100% {
      background-position: 125% 0;
    }
  }

  &.done {
    opacity: 0;
    visibility: hidden;
  }

  .container-logo {
    width: 200px;

    animation: scale 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    img {
      width: 100%;
      height: 100%;
    }

    @keyframes scale {
      0% {
        transform: scale(0.9);
      }

      25% {
        transform: scale(0.9);
      }

      50% {
        transform: scale(1);
      }

      75% {
        transform: scale(0.9);
      }

      100% {
        transform: scale(0.9);
      }
    }
  }
}