.directionsOfWork {
  background-color: $primary-main-5;

  .container-fluid {
    .container {
      padding: 0;

      .directionsOfWork__content {
        padding: 45px 0;

        .directionsOfWork__heading {
          margin: 0 0 40px 0;
          @include font-style(28px, $primary1_500, $base-color);

          h3 {
            @media (max-width: 991.98px) {
              width: 70%;
            }

            @media (max-width: 767.98px) {
              width: 100%;
            }

            &::after {
              content: '';
              display: block;
              width: 150px;
              border-bottom: 2px solid;
              position: relative;
              bottom: -6px;
            }
          }
        }

        .directionsOfWork__card {
          display: flex;
          flex-wrap: wrap;

          @media (max-width: 575.98px) {
            justify-content: space-between;


            .card__info {
              .card__p {
                display: none;
              }
            }
          }

          .card__info {
            overflow: hidden;
            margin-right: 1.32%;
            margin-bottom: 1.32%;
            width: 24%;
            border-radius: 8px;
            border: 1px solid #eee;

            &:nth-last-of-type(4),
            &:nth-last-of-type(8),
            &:nth-last-of-type(12) {
              margin-right: 0;
            }

            &:hover {
              box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
            }



            .container-img {
              padding: 25px 0;
              background-color: #eee;
              text-align: center;

              .card__img {
                width: 30%;
              }
            }

            @media (max-width: 991.98px) {
              .card__detail {
                display: none;
              }

              width: 32%;
              margin-right: 2%;
              margin-bottom: 2%;

              &:nth-last-of-type(4),
              &:nth-last-of-type(8),
              &:nth-last-of-type(12) {
                margin-right: 2%;
              }

              &:nth-last-of-type(3),
              &:nth-last-of-type(6),
              &:nth-last-of-type(9),
              &:nth-last-of-type(12) {
                margin-right: 0;
              }
            }

            @media (max-width: 575.98px) {
              .card__info {
                .card__p {
                  display: none;
                }

                .card__heading {
                  text-align: center;
                  margin-top: 0px;
                  @include font-style(14px, $primary1_500, $base-text);
                }
              }

              width: 47%;
              margin-right: 0%;
              margin-bottom: 6%;

              &:nth-last-of-type(1),
              &:nth-last-of-type(2),
              &:nth-last-of-type(3),
              &:nth-last-of-type(4),
              &:nth-last-of-type(5),
              &:nth-last-of-type(6),
              &:nth-last-of-type(7),
              &:nth-last-of-type(8),
              &:nth-last-of-type(9),
              &:nth-last-of-type(10),
              &:nth-last-of-type(11),
              &:nth-last-of-type(12) {
                margin-right: 0%;
              }

              .card__heading {
                padding: 15px 15px;
              }
            }

            .card-content {
              display: flex;
              flex-direction: column;
            }

            .card__heading {
              text-align: center;
              padding: 15px 10px 5px;
              @include font-style(16px, $primary1_500, $base-text);
            }

            .card__p {
              @include font-style(12px, $primary1_400, $base-text1);
              padding: 0 10px 15px;
            }

            .card__detail {
              margin: 10px;
              width: 100px;
              cursor: pointer;
              opacity: 1;
              @include font-style(14px, $primary1_400, $base-color);
              padding: 5px 10px;
              margin-top: auto;
              border: 1px solid $base-color;
              border-radius: 5px;
              background-color: $primary-main-5;
              transition: 0.3s;

              &:hover {
                background-color: $base-color;
                color: $base-light;
              }
            }
          }

          @media (max-width: 767.98px) {


            .card__heading {
              font-size: 14px;
              padding: 15px;
            }

            .card__info {
              .card-content {
                height: 50%;

                .card__p {
                  margin-top: auto;
                }
              }
            }
          }
        }

        .directionsOfWork__btn {
          padding: 15px;
          padding-bottom: 30px;
          margin-top: auto;

          .btn__all {
            @include font-style(16px, $primary1_400, $base-color);

            i {
              padding-left: 5px;
              font-size: 11px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}