.directionsOfWork {
  background-color: $primary-main-5;

  .container-fluid {
    .container {
      .directionsOfWork__content {
        padding: 45px 0;

        .directionsOfWork__heading {
          margin: 0 0 40px 0;
          @include font-style(30px, $primary1_500, $base-color);

          h3 {
            @media (max-width: 991.98px) {
              width: 70%;
            }

            @media (max-width: 767.98px) {
              width: 100%;
            }

            &::after {
              content: '';
              display: block;
              width: 150px;
              border-bottom: 2px solid;
              position: relative;
              bottom: -6px;
            }
          }
        }

        .directionsOfWork__card {
          display: flex;
          flex-wrap: wrap;




          .card__info {

            max-width: 250px;
            margin: 10px;

            overflow: hidden;
            // padding: 15px;
            border-radius: 8px;
            border: 1px solid #eee;


            &:hover {
              box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .12);
            }

            &:hover .card__detail {
              opacity: 1;
            }

            // &:hover .card__img {
            //   background: linear-gradient(90deg, lighten($base-color, 35%), lighten(#00cec8, 35%));
            // }

            .card__a {
              display: block;
            }

            .card__img {
              // border: 1px solid #eee;
              // border-radius: 5px;
              padding: 25px 90px;

              width: 100%;
              // background: linear-gradient(90deg, lighten($base-color, 35%), lighten(#00cec8, 35%));
              ;
              background-color: #eee;
            }

            .card__heading {
              text-align: center;
              // min-height: 32px;
              margin-top: 15px;
              padding: 0 15px;
              @include font-style(16px, $primary1_500, $base-text);
            }

            .card__p {
              @include font-style(12px, $primary1_400, $base-text1);
              padding: 15px;

            }

            .card__detail {
              cursor: pointer;
              opacity: 0;
              margin-top: auto;
              margin: 0 15px 15px;
              @include font-style(14px, $primary1_400, $primary-main-2);
              padding: 5px 10px;
              background: linear-gradient(90deg, lighten($base-color, 50%), lighten(#00cec8, 50%));
              border: none;

              &:hover {
                background: linear-gradient(90deg, lighten($base-color, 30%), lighten(#00cec8, 30%));
              }
            }
          }

          @media (max-width: 1199.98px) {
            .card__info {
              max-width: 290px;

              .card__img {
                padding: 25px 110px;
              }
            }

          }

          @media (max-width: 991.98px) {
            justify-content: center;

            .card__detail {
              display: none;
            }
          }

          @media (max-width: 767.98px) {
            .card__info {
              max-width: 205px;

              .card__img {
                padding: 25px 68px;
              }
            }
          }

          @media (max-width: 575.98px) {
            justify-content: center;

            .card__info {
              max-width: 135px;
              margin: 5px;

              .card__img {
                padding: 15px 43px;
              }

              .card__p {
                display: none;
              }

              .card__heading {
                text-align: center;
                // min-height: 32px;
                margin-top: 0px;

                padding: 10px 15px;
                @include font-style(12px, $primary1_500, $base-text);
              }
            }

          }

          @media (max-width: 349.98px) {
            .card__info {
              max-width: 210px;
              margin: 5px;

              .card__img {
                padding: 15px 70px;
              }
            }

          }
        }


        .directionsOfWork__btn {
          padding: 15px;


          .btn__all {
            @include font-style(16px, $primary1_400, $primary-main-2);

            i {
              font-size: 11px;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}