@import "modules/header/header";
@import "modules/banner/banner";
@import "modules/directionsOfWork/directionsOfWork";
@import "modules/footer/footer";
@import "modules/preloader/preloader";
@import "modules/appointment/appointment";
@import "modules/reviewsOfDoctors/reviewsOfDoctors";
@import "modules/ourDoctors/ourDoctors";
@import "modules/ourAdvantages/ourAdvantages";
@import "modules/upButton/upButton";
@import "modules/popupWindowAppointment/popupWindowAppointment";
@import "modules/callbackButton/callbackButton";
@import "modules/pricesAndPromotions/pricesAndPromotions";
@import "modules/mainDoctorsAndReferrals/mainDoctorsAndReferrals";
@import "modules/mainContact/mainContact";
@import "modules/mainAboutUs/mainAboutUs";
