.callback-bt {
  background: $primary-btn-1;
  border: 2px solid $primary-btn-1;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3);
  cursor: pointer;
  height: 68px;
  text-align: center;
  width: 68px;
  position: fixed;
  left: 5%;
  bottom: 8%;
  z-index: 999;
  transition: 0.3s;
  -webkit-animation: hoverWave linear 1.5s infinite;
  animation: hoverWave linear 1.5s infinite;
  margin: 0 auto;

  @media (max-width: 575.98px) {
    left: 4%;
  }
}

.callback-bt .text-call {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.callback-bt .text-call span {
  color: $primary-btn-1;
  opacity: 0;
  font-size: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s linear;
  font-family: $primary1_500;
}

.callback-bt .text-call-hover span {
  opacity: 1;
  font-size: 10px;
  padding-right: 5px;
  padding-left: 2px;
}

.callback-bt-hover i {
  display: none;
  color: $base-light;
  font-size: 40px;
  transition: 0.3s;
}

.callback-bt-hover {
  background: $base-light;
  color: transparent;
  transition: 0.3s;
  border: 2px solid transparent;
}

.callback-bt .text-call:hover span {
  opacity: 1;
  font-size: 10px;
  padding-right: 5px;
  padding-left: 2px;
}

.callback-bt:hover i {
  display: none;
  color: $base-light;
  font-size: 40px;
  transition: 0.3s;
}

.callback-bt:hover {
  background: $base-light;
  color: transparent;
  transition: 0.3s;
  border: 2px solid transparent;
}

.callback-bt i {
  color: $base-light;
  font-size: 34px;
  transition: 0.3s;
  line-height: 66px;
  transition: 0.5s ease-in-out;
}

.callback-bt i {
  animation: 2200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 2200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 0 rgba($primary-btn-1, 0.2),
      0 0 0 0 rgba($primary-btn-1, 0.2);
  }

  40% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 15px rgba($primary-btn-1, 0.2),
      0 0 0 0 rgba($primary-btn-1, 0.2);
  }

  80% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 30px rgba($primary-btn-1, 0),
      0 0 0 26.7px rgba($primary-btn-1, 0.067);
  }

  100% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 30px rgba($primary-btn-1, 0),
      0 0 0 40px rgba($primary-btn-1, 0);
  }
}

@keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 0 rgba($primary-btn-1, 0.2),
      0 0 0 0 rgba($primary-btn-1, 0.2);
  }

  40% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 15px rgba($primary-btn-1, 0.2),
      0 0 0 0 rgba($primary-btn-1, 0.2);
  }

  80% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 30px rgba($primary-btn-1, 0),
      0 0 0 26.7px rgba($primary-btn-1, 0.067);
  }

  100% {
    box-shadow: 0 8px 10px rgba($primary-btn-1, 0.3), 0 0 0 30px rgba($primary-btn-1, 0),
      0 0 0 40px rgba($primary-btn-1, 0);
  }
}

/* animations icon */

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }

  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }

  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }

  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }

  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }

  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }

  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }

  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }

  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }

  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }

  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }

  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }

  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }

  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }

  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }

  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }

  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }

  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }

  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

$speed: 0.6s;
$delay: ($speed * 0.5);
$easing: cubic-bezier(0.55, 0, 0.1, 1);


.callback-bt-input {
  @include font-style(16px, $primary1_300, $base-light);
  background: linear-gradient(0deg, $base-color, #00cec8);
  width: 700px;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(#000, 0.2);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all $speed $easing;
  
 

  @media (max-width: 767.98px) {
    width: 500px;
  }

  @media (max-width: 575.98px) {
    margin: 0 15px;
    width: 100%;
  }

  h4 {
    padding: 20px 0 40px 0;
    @include font-style(22px, $primary1_400, $base-light);

    @media (max-width: 575.98px) {
      padding: 20px 0 30px 0;
      font-size: 20px;
    }

    @media (max-width: 410px) {
      padding: 10px 0 20px 0;
      font-size: 19px;
      width: 90%;
      line-height: 25px;
    }

    i {
      margin-left: 10px;
    }
  }

  p {
    padding: 10px 0 10px 5px;
    @include font-style(14px, $primary1_300, rgba($base-light, 0.7));

    @media (max-width: 440px) {
      font-size: 12px;
    }
  }

  form {
    display: flex;

    @media (max-width: 440px) {
      flex-direction: column;
      justify-content: center;
    }

    input {
      max-width: 60%;
      padding: 13px;
      background-color: $base-light;
      flex-grow: 1;
      border: none;
      outline: none;
      border: 1px inset rgba($base-text, 0.3);
      color: rgba($base-text, 0.8);

      @media (max-width: 575.98px) {
        padding: 10px;
      }

      @media (max-width: 440px) {
        padding: 7px;
        max-width: 100%;
        font-size: 16px;
      }

      &::placeholder {
        color: rgba($base-text, 0.4);
      }
    }

    textarea,
    input[type="text"],
    input[type="button"],
    button[type="submit"] {
      -webkit-appearance: none;
      border-radius: 0;
    }

    .callback-button {
      // width: 40%;
      background-color: $primary-btn-1;
      color: $base-light;
      cursor: pointer;
      border: none;
      @include font-style(16px, $primary1_400, $base-light);
      border: 1px inset transparent;
      transition: 0.3s border;
      border-radius: 0;
      &:hover{
        border: none;
      }

      @media (max-width: 440px) {
        margin-top: 20px;
        font-size: 15;
        font-family: $primary1_300;
        max-width: 150px;
        padding: 7px;
        border: none;
      }

      &:hover {
        border-color: $base-light;
      }
    }
  }

  .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing, transform $speed $easing;
    transition-delay: $delay;
    font-size: 30px;
  }

  .callback-bt__modal-content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity $speed $easing;
    transition-delay: $delay;
    background: linear-gradient(0deg, $base-color, #00cec8);
    padding: 20px 40px;
    position: relative;

    @media (max-width: 575.98px) {
      padding: 15px 35px;
    }

    @media (max-width: 440px) {
      padding: 0 15px 5px 15px;
    }

    @media (max-width: 410px) {
      padding: 10px 15px 5px 15px;
    }
  }
}

.activeModal {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

  .callback-bt__modal-content {
    opacity: 1;
    .callbackMessage{
      // background-color: rgba(#fff, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      transition: 1s;
      opacity: 0;
      text-align: center;
      position: absolute;
      padding: 0 20px;
      top: 30px;
      right: 38px;
      left: 40px;
      border-radius: 3px;
      @include font-style(16px, $primary1_400, #000);
      &.success{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        transition: 1s;
        opacity: 1;
      }
      &.error{
        transition: 1s;
        opacity: 1;
        color: #721c24;
        background-color: #f8d7da
    }}
  }

  .close-modal {
    transform: translateY(10px);
    opacity: 1;
  }
}

.modal-overlay__bt-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity $speed $easing, visibility $speed $easing;
  backdrop-filter: saturate(180%) blur(15px);
  

  &.activeModal {
    opacity: 1;
    visibility: visible;
  }
}
