.container-fluid{
  background-color: $primary-main-5;
  .direction-information{
    .container{
      padding: 0;
      .direction-content{
        // border: 1px solid blue;
        display: flex;
        .mainDoctorsAndReferrals__navbar {
          box-shadow: 0 0 5px 2px rgba($primary-main-1, 0.1);
  
          background-color: #f8f9fc;
          position: relative;
          padding-top: 15px;
  
          @media (max-width: 991.98px) {
            padding-top: 20px;
          }
          @media (max-width: 767.98px) {
            display: none;
          }
  
          .mainDoctorsAndReferrals__navbar-content {
            transition: 0.3s all;
            position: sticky;
            top: 110px;
            padding-bottom: 30px;
  
            @media (max-width: 991.98px) {
              padding-bottom: 30px;
            }
  
            li {
              display: flex;
              align-items: center;
              padding: 5px 0;
              cursor: pointer;
              transition: 0.3s color;
              border-bottom: 1px solid rgba($base-color, 0.15);
              @media (max-width: 1199.98px) {
                line-height: 19px;
              }
  
              &:hover {
                a {
                  color: $base-color;
                }
              }
            }
  
            .box-img {
              width: 30px;
              height: 30px;
  
              @media (max-width: 1199.98px) {
                width: 20px;
                height: 20px;
              }
  
              @media (max-width: 991.98px) {
                width: 30px;
                height: 30px;
              }
  
              img {
                height: 100%;
                width: 100%;
              }
            }
  
            a {
              padding: 5px 0 5px 8px;
              @include font-style(16px, $primary1_400, $base-text);
            }
          }
        }
        .direction-text{
          // border: 1px solid blue;
          border-radius: 8px;
          background-color: $base-white;
          overflow: hidden;
          margin: 15px 0 15px 20px;
          box-shadow: 0px 10px 20px rgba(#000, 0.1);
          padding: 0;
          @media (max-width: 767.98px) {
            margin: 15px 0;
          }
          .direction-heading{
            // border: 1px solid blue;
            margin-bottom: 20px;
            background:  url(../img/directions/1.jpg);
            filter: contrast(110%);
            background-size: cover;
            height: 120px;
            overflow: hidden;
            display: flex;
            align-items: center;
            @include font-style(24px, $primary1_500, $base-text);
            .heading{
              padding: 20px;
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              background: linear-gradient(45deg, rgba(255,255,255,1),rgba(255,255,255,0.5))  ;
            }
        }
        .direction-description{
          // border: 1px solid blue;
          margin-bottom: 20px;
          padding: 20px;
          p{
            @include font-style(14px, $primary1_400, $base-text);
            line-height: 1.5;
          }
          h4{
            @include font-style(18px, $primary1_500, $base-text);
            line-height: 1.5;
            padding: 20px 0;

          }
          ul{
            li{
              @include font-style(14px, $primary1_400, $base-text);
              padding: 0 15px 7px;
              position: relative;
              &::before{
                position: absolute;
                left: 0;
                top: 5px;
                display: block;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $base-color;
              }
            }
          }
        }
        .additional-description{
          // border: 1px solid blue;
          padding: 20px;
          margin-bottom: 20px;
          .container-1{
            background-color: mix($base-color, $base-white, 5%);
            width: 50%;
            padding: 20px 30px;
            border: 1px solid mix($base-color, $base-white, 15%);
            @media (max-width:991.98px){
              width: 100%;
            }
            .heading{
              display: flex;
              i{
                color: mix($base-dark, $base-color,20%);
                font-size: 35px;
                margin-right: 15px;
             }
              span{
                @include font-style(22px, $primary1_500, mix($base-dark, $base-color,20%));
              }
            }
            p{
              @include font-style(12px, $primary1_400, mix($base-dark, $base-color,10%));
              line-height: 1.5;
              margin-top: 20px;
            }
          }
        }
        .price-a{
          // border: 1px solid blue;
          padding: 20px;
          a{
            @include font-style(16px, $primary1_400, $base-color);
            i{
              padding-left: 5px;
              font-size: 11px;
            }
          }
        }
        .ourDoctors__main {
          // border: 1px solid blue;
          text-align: center;
          margin: 20px 0;
          h3{
            padding-top: 20px;
            @include font-style(22px, $primary1_500, $base-color);
          }
          .ourDoctors__cards {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 1199.98px) {
              padding: 20px 0;
            }

            @media (max-width: 767.98px) {
              padding: 0 0 20px 0;
            }

            .ourDoctors__item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              margin: 15px 20px;
              width: calc(33.33% - 40px);

              @media (max-width: 991.98px) {
                width: calc(50% - 40px);
              }

              @media (max-width: 466px) {
                width: calc(100% - 40px);
              }

              &:hover {
                img {
                  box-shadow: 0px 5px 20px rgba($primary-main-1, 0.7);
                }

                .ourDoctors__name {
                  color: $base-color;
                }
              }

              .ourDoctors__box-img {
                @media (max-width: 767.98px) {
                  margin-top: 20px;
                }

                img {
                  border-radius: 50%;
                  max-width: 220px;
                  height: auto;
                  transition: 0.3s all;

                  @media (max-width: 1199.98px) {
                    max-width: 200px;
                  }
                }
              }

              .ourDoctors__rating {
                padding: 10px 0;
                color: $base-color;
                font-size: 13px;
              }

              .ourDoctors__name {
                @include font-style(18px, $primary1_500, $base-color);
                padding-bottom: 8px;
                transition: 0.3s all;
              }

              .ourDoctors__trade {
                @include font-style(14px, $primary1_500, rgba($base-text, 0.7));
                line-height: 1.2;
              }
            }
          }
        }
        }
      }
    }
  }
}