.banner {
    margin-top: 150px;
    // background-color: $base-color;
    background: linear-gradient(0deg, $base-color, #00cec8);
    padding: 15px;

    // padding: 15px 0;
    @media (max-width: 991.98px) {
        margin-top: 80px;
    }

    .container {
        .slider {
            position: relative;
            // background-color: $base-color;
            background: linear-gradient(0deg, $base-color, #00cec8);

            &__item {
                height: 100%;
            }

            &__img {
                height: 450px;
                width: auto;
            }

            &__img-right {
                margin-left: auto;
            }

            .slider-content {

                // left: 0;
                position: absolute;
                top: 0;
                margin-top: 125px;
                line-height: 1.3;

            }

            .slider-content-left {
                left: 0;
            }

            .slider-content-right {
                right: 0;
            }

            &__text {
                @include font-style(37px, $primary1_500, $base-white);
                text-transform: uppercase;
            }

            &__btn {
                border: none;
                outline: none;
                cursor: pointer;
                background-color: $base-white;
                @include font-style(20px, $primary1_400, $base-color);
                text-transform: uppercase;
                padding: 15px 30px;
                margin-top: 50px;
            }

            @media (max-width: 1199.98px) {

                &__text {
                    font-size: 28px;
                }

                &__btn {
                    display: none;
                }
            }

            @media (max-width: 991.98px) {
                &__img {
                    height: 350px;
                    width: auto;
                }

                &__text {
                    font-size: 25px;
                }
            }

            @media (max-width: 767.98px) {
                &__img {
                    height: 200px;
                }

                &__text {
                    margin: 0;
                    font-size: 16px;
                }
            }
        }
    }
}

.sticky+.banner {
    padding-top: 102px;
}