.reviewsOfDoctors {
  .container-fluid {
    background-color: $primary-main-5;
    padding: 50px 15px 40px 15px;

    .container {
      .review__head {
        .reviews__head_text {
          @include font-style(28px, $primary1_500, $base-color);
          padding: 0 0 10px 0;
          margin-bottom: 40px;

          @media (max-width: 767.98px) {
            padding: 0 15px;
          }

          @media (max-width: 575.98px) {
            padding: 0 5px;
          }

          h3 {
            &::after {
              content: "";
              display: block;
              width: 150px;
              border-bottom: 2px solid;
              position: relative;
              bottom: -6px;
            }
          }
        }
      }

      .review__content .review__item:nth-of-type(3) {
        width: calc(33.33% - 20px);
        margin-left: 20px;

        @media (max-width: 1199.98px) {
          width: calc(33.33% - 15px);
          margin-left: 15px;
        }
      }

      .review__content .review__item:nth-of-type(2) {
        width: calc(33.33% - 20px);
        margin: 0 10px;

        @media (max-width: 1199.98px) {
          width: calc(33.33% - 15px);
          margin: 0 7.5px;
        }
      }

      .review__content .review__item:nth-of-type(1) {
        width: calc(33.33% - 20px);
        margin-right: 20px;

        @media (max-width: 1199.98px) {
          width: calc(33.33% - 15px);
          margin-right: 15px;
        }
      }

      .review__content .review__item:nth-of-type(-n + 3) {
        @media (max-width: 991.98px) {
          width: 100%;
          margin: 15px 0;
        }
      }

      .review__content {
        @media (max-width: 767.98px) {
          padding: 0 15px;
        }

        @media (max-width: 991.98px) {
          padding: 0 40px;
        }

        @media (max-width: 575.98px) {
          padding: 0 5px;
        }

        .review__item {
          border: 1px solid #eee;
          background: linear-gradient(45deg, $primary-main-5, rgba(#eee, 0.4));
          display: flex;
          flex-direction: column;
          padding: 30px 30px 10px 30px;
          transition: 0.3s;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
          }

          @media (max-width: 991.98px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          @media (max-width: 575.98px) {
            flex-direction: column;
          }

          .review__doctor {
            text-align: center;
            @media (max-width: 991.98px) {
              width: 45%;
            }

            @media (max-width: 575.98px) {
              width: 100%;
            }

            @include font-style(16px, $primary1_300, $base-color);
            display: flex;
            flex-direction: column;
            align-items: center;

            .review__doctor__box-img {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-image: url("../img/alina-2.jpeg");
              background-position: center;
              background-size: cover;
              margin-bottom: 20px;
              background-repeat: no-repeat;
            }

            .review__doctor__content {
              display: flex;
              flex-direction: column;

              a {
                @include font-style(17px, $primary1_400, $base-text);
                margin-bottom: 5px;
                transition: 0.3s;

                &:hover {
                  color: $base-color;
                }
              }

              span {
                @include font-style(14px, $primary1_400, rgba(0, 0, 0, 0.4));
                margin-bottom: 20px;
                line-height: 16px;
              }
            }
          }

          .review__customer {
            @media (max-width: 991.98px) {
              width: 55%;
              padding: 0 20px;
            }

            @media (max-width: 575.98px) {
              width: 100%;
              padding: 0;
            }

            .review__customer__content {
              display: flex;
              flex-direction: column;

              .review__customer__info {
                @include font-style(16px, $primary1_400, $base-color);

                display: flex;
                align-items: center;
                margin-left: 10px;

                .review__customer__box-img {
                  margin-right: 15px;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  background-image: url("../img/yuliya1.jpeg");
                  background-position: -5px;
                  background-size: auto 50px;
                  position: relative;

                  i {
                    position: absolute;
                    font-size: 18px;
                    background-color: $primary-main-5;
                    right: -15px;
                    top: -5px;
                    padding: 4px;
                    border-radius: 50%;
                  }
                }
              }

              .review__customer__star {
                align-self: flex-end;

                i {
                  color: $base-color;
                  font-size: 13px;
                }
              }

              .review__customer__text {
                @include font-style(15px, $primary1_300, $base-text);
                line-height: 18px;
                padding: 10px 0 0 0;

                p {
                  a {
                    margin-top: 5px;
                    cursor: pointer;
                    @include font-style(14px, $primary1_300, $base-color);
                    display: block;
                    width: 150px;
                    transition: 0.3s all;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              .review__customer__data {
                text-align: right;
                @include font-style(12px, $primary1_300, rgba(0, 0, 0, 0.4));
                padding: 10px;
              }
            }
          }
        }

        .review__item:nth-of-type(2) {
          .review__doctor__box-img {
            background-image: url("../img/roma.jpeg");
          }

          .review__customer
            .review__customer__content
            .review__customer__info
            .review__customer__box-img {
            background-image: url("../img/dmitriy-2.jpeg");
            background-position: center;
            background-size: auto 50px;
          }
        }

        .review__item:nth-of-type(3) {
          .review__doctor__box-img {
            background-image: url("../img/dima.jpeg");
          }

          .review__customer
            .review__customer__content
            .review__customer__info
            .review__customer__box-img {
            background-image: url("../img/yakovenko.jpeg");
            background-position: 0 0;
            background-size: auto;
          }
        }
      }

      .all__reviews {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          cursor: pointer;
          padding-top: 15px;
          text-align: right;
          margin-top: 10px;
          cursor: pointer;
          @include font-style(16px, $primary1_400, $base-color);
          display: block;
          transition: 0.3s all;
          margin-right: 20px;

          @media (max-width: 991.98px) {
            padding-top: 0;
          }

          i {
            font-size: 11px;
            padding-left: 5px;
            align-self: flex-end;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
