.reviewsOfDoctors {
  .container-fluid {
    background-color: $primary-main-5;

    padding: 40px 0;
    // border-bottom: 1px solid $primary-main-4;
    .container {
      //   background-color: $primary-main-7;
      // border-bottom: 1px solid $primary-main-3;
      .review__head {
        .reviews__head_text {
          @include font-style(25px, $primary1_300, $primary-main-3);
          padding: 0 0 10px 0;
          margin-bottom: 30px;
          border-bottom: 1px solid $primary-main-3;
        }
      }
      .review__content {
        .review__item {
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
          border-radius: 50px;
          display: flex;
          flex-direction: column;
          //   align-items: ;
          padding: 30px 30px 20px 30px;
          //   border-right: 1px solid $primary-main-3;
          .review__doctor {
            @include font-style(16px, $primary1_300, $primary-main-3);
            display: flex;
            flex-direction: column;
            align-items: center;
            // text-align: center;
            .review__doctor__box-img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              background-image: url("../img/doctor.jpg");
              background-position: -70px;
              background-size: auto 150px;
              margin-bottom: 20px;
              background-repeat: no-repeat;
              box-shadow: 0px 0px 0px 2px $primary-main-3;
            }
            .review__doctor__content {
              display: flex;
              flex-direction: column;
              a {
                @include font-style(17px, $primary1_400, $base-dark);
                margin-bottom: 5px;
              }
              span {
                @include font-style(14px, $primary1_400, rgba(0, 0, 0, 0.4));
                margin-bottom: 20px;
                line-height: 16px;
              }
            }
          }
          .review__customer {
            .review__customer__content {
              display: flex;
              flex-direction: column;
              .review__customer__info {
                @include font-style(16px, $primary1_400, $primary-main-3);

                display: flex;
                // flex-direction: column;
                align-items: center;
                margin-left: 10px;
                .review__customer__box-img {
                  box-shadow: 0px 0px 1px 2px $primary-main-3;
                  margin-right: 15px;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  background-image: url("../img/customer-girl.jpg");
                  background-position: -5px;
                  background-size: auto 50px;
                  position: relative;
                  i {
                    position: absolute;
                    font-size: 18px;
                    background-color: $base-light;
                    right: -15px;
                    top: -5px;
                    padding: 4px;
                    border-radius: 50%;
                  }
                }
              }
              .review__customer__star {
                align-self: flex-end;
                i {
                  color: $primary-main-2;
                }
              }
              .review__customer__text {
                @include font-style(15px, $primary1_300, $base-dark);
                line-height: 18px;
                padding: 10px 0 15px 0;
                text-align: justify;
                p {
                  border-bottom: 1px solid $primary-main-2;
                  padding-bottom: 10px;
                }
              }
              .review__customer__data {
                text-align: right;
                @include font-style(12px, $primary1_300, rgba(0, 0, 0, 0.4));
                span {
                }
              }
            }
          }
        }
        .review__item:nth-of-type(2) {
          .review__doctor__box-img {
            background-image: url("../img/doctor-2.jpg");
            background-position: -70px;
            background-size: auto 150px;
          }
          .review__customer
            .review__customer__content
            .review__customer__info
            .review__customer__box-img {
            background-image: url("../img/customer-girl-2.jpg");
            background-position: -20px;
            background-size: auto 50px;
          }
        }
        .review__item:nth-of-type(3) {
          .review__doctor__box-img {
            background-image: url("../img/doctor3.jpg");
            background-position: 10px;
            background-size: auto 155px;
          }
          .review__customer
            .review__customer__content
            .review__customer__info
            .review__customer__box-img {
            background-image: url("../img/customer-men.jpeg");
            background-position: -5px 0;
            background-size: auto 100px;
          }
        }
      }
    }
  }
}
