.doctorDetails {
  .doctorDetails__content {
    // box-shadow: 0px 10px 20px rgba(#000, 0.1);
    padding: 60px;
    background-color: #f8f9fc;

    .container-fluid {
      .container {
        box-shadow: 0px 10px 20px rgba(#000, 0.1);

        .row {
          .box-photo {
            border-radius: 8px 0 0 0;
            font-size: 0;
            padding: 50px;
            background-color: $base-light;
            // @media (max-width: 991.98px) {
            //   padding: 0;
            // }
            img {
              border-radius: 8px;
              // box-shadow: 0px 10px 20px #dce4e6;
              width: 100%;
              height: 100%;
            }
          }
          .description-doctor {
            // margin-bottom: 30px;
            // box-shadow: 0px 10px 20px rgba(#000, 0.1);
            // border-right: 8px solid $base-color;
            border-radius: 0 8px 0 0;
            background-color: $base-white;
            // padding: 0 20px;
            @media (max-width: 991.98px) {
              padding: 0 0 10px 30px;
            }

            .doctor__text-head {
              @include font-style(28px, $primary1_400, $base-text);
              padding: 40px 0 30px 0;
              margin-bottom: 20px;
              @media (max-width: 1199.98px) {
                margin-bottom: 0;
                padding: 30px 0;
              }
            }
            .doctorDetails__rating {
              padding-left: 30px;
              i {
                color: $base-color;
              }
              span {
                color: $base-color;
                @include font-style(13px, $primary1_500, $base-text1);
                border-radius: 50%;
                border: 1px solid $base-text;
                padding: 5px;
                margin-left: 5px;
              }
            }
            .details-info {
              margin-top: 30px;
              .box-img {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              li {
                padding-bottom: 15px;
                display: flex;
                span {
                  @include font-style(17px, $primary1_400, $base-text);

                  span {
                    @include font-style(16px, $primary1_300, $base-text1);
                  }
                }
              }
              .experience {
              }
              .category {
              }
              .phones-for-recording {
              }
              .specialization {
                @media (max-width: 1199.98px) {
                  padding-bottom: 20px;
                }
              }
            }
          }
        }
        .row:nth-of-type(2) {
          border-radius: 0 0 8px 8px;
          // box-shadow: 0px 10px 20px rgba(#000, 0.1);
          border-top: 1px solid #eee;

          // border-left: 8px solid $base-color;
          background-color: $base-white;
          justify-content: center;
          .more-info__content {
            padding: 30px 0 20px 0;
            div {
              padding-bottom: 25px;
              display: flex;
              flex-direction: column;
              @include font-style(17px, $primary1_400, $base-text);
              span {
                @include font-style(16px, $primary1_300, $base-text1);
                padding-top: 10px;
                line-height: 24px;
                padding-left: 15px;
              }
            }
            flex-direction: column;
            .position {
            }
            .education {
            }
            .treated {
            }
            .procedures {
            }
          }
        }
      }
    }
  }
}
