.doctorDetails {
  .doctorDetails__content {
    padding: 60px 0 50px 0;
    background-color: #f8f9fc;

    .container-fluid {
      .container {
        box-shadow: 0px 10px 20px rgba(#000, 0.1);
        border-radius: 0 0 8px 8px;
        overflow: hidden;
        @media (max-width: 991.98px) {
          border-radius: 8px;
        }
        .row {
          @media (max-width: 991.98px) {
            background-color: $base-light;
          }
          .box-photo {
            border-radius: 8px 0 0 0;
            font-size: 0;
            padding: 40px;
            @media (max-width: 1199.98px) {
              padding: 40px 30px 20px 30px;
            }
            @media (max-width: 991.98px) {
              margin: 0 auto;
            }
            @media (max-width: 575.98px) {
              padding: 35px 25px 20px 25px;
            }

            background-color: $base-light;
            img {
              border-radius: 8px;
              width: 100%;
              height: 100%;
              @media (max-width: 991.98px) {
                border-radius: 50%;
              }
            }
          }
          .description-doctor {
            border-radius: 0 8px 0 0;
            background-color: $base-white;
            @media (max-width: 991.98px) {
              padding: 0;
            }

            .doctor__text-head {
              @include font-style(28px, $primary1_400, $base-text);
              padding: 40px 0 30px 0;
              margin-bottom: 20px;
              @media (max-width: 1199.98px) {
                margin-bottom: 0;
                padding: 30px 0;
              }
              @media (max-width: 991.98px) {
                text-align: center;
                padding: 20px 30px;
              }
              @media (max-width: 767.98px) {
                padding-top: 10px;
              }
            }
            .doctorDetails__rating {
              padding-left: 30px;
              @media (max-width: 991.98px) {
                text-align: center;
                padding: 0;
              }
              i {
                color: $base-color;
              }
              span {
                color: $base-color;
                @include font-style(13px, $primary1_500, $base-text1);
                border-radius: 50%;
                border: 1px solid $base-text;
                padding: 5px;
                margin-left: 5px;
              }
            }
            .details-info {
              margin-top: 30px;
              @media (max-width: 991.98px) {
                padding: 0 40px;
              }
              @media (max-width: 767.98px) {
                line-height: 22px;
              }
              @media (max-width: 575.98px) {
                padding: 0 30px;
              }
              .box-img {
                margin-right: 10px;
                img {
                  width: 20px;
                  height: 20px;
                }
              }
              li {
                padding-bottom: 15px;
                display: flex;
                span {
                  @include font-style(17px, $primary1_400, $base-text);

                  span {
                    @include font-style(16px, $primary1_300, $base-text1);
                  }
                }
              }
              .specialization {
                @media (max-width: 1199.98px) {
                  padding-bottom: 20px;
                }
              }
            }
          }
        }
        .row:nth-of-type(2) {
          border-top: 1px solid #eee;
          background-color: $base-white;
          justify-content: center;
          .more-info__content {
            padding: 30px 0 20px 0;
            div {
              padding-bottom: 25px;
              display: flex;
              flex-direction: column;
              @include font-style(17px, $primary1_400, $base-text);
              span {
                @include font-style(16px, $primary1_300, $base-text1);
                padding-top: 10px;
                line-height: 24px;
                padding-left: 15px;
              }
            }
            flex-direction: column;
          }
        }
      }
    }
  }
  .slider-certificates {
    padding: 30px 0;
    background-color: $base-color;
    .container-fluid {
      .container {
        padding: 0;
        .slider-certificates__content {
          .content__head-text {
            padding: 0;
            margin: 0 0 40px 0;
            @include font-style(28px, $primary1_500, $base-light);

            h5 {
              @media (max-width: 575.98px) {
                margin-bottom: 85px;
              }

              &::after {
                content: "";
                display: block;
                width: 150px;
                border-bottom: 2px solid;
                position: relative;
                bottom: -6px;
              }
            }
          }
          .certificates-carousel {
            .item {
              height: 120px;
              width: 170px;
              transition: all 0.3s;
              @media (min-width: 991.98px) {
                &:hover {
                  transform: scale(1.1);
                }
              }
              img {
                cursor: pointer;
              }
            }
            .owl-item {
              display: flex;
              justify-content: center;
            }
            .owl-nav {
              position: absolute;
              top: -80px;
              right: 0;
              text-align: right;
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                width: 60px;
                height: 60px;
                border: 1px solid $base-light;
                border-radius: 50%;
                cursor: pointer;
                margin-left: 20px;
                color: $base-light;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                  margin: 0 auto;
                  @include font-style(30px, $primary1_400, $base-light);
                }
              }
            }
          }
        }
      }
    }
    .close-modal {
      color: $base-text;
      position: absolute;
      cursor: pointer;
      top: -5px;
      right: -50px;
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity $speed $easing, transform $speed $easing;
      transition-delay: $delay;
      font-size: 30px;
      text-align: center;
      @media (max-width: 991.98px) {
        top: -45px;
        right: 0;
        left: 0;
      }
    }

    .certificate__modal-content {
      margin: 0 auto;
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity $speed $easing;
      transition-delay: $delay;
      position: relative;
      max-height: 80vh;

      img {
        display: block;
        max-width: 100%;
        max-height: 80vh;
      }
    }
    .activeModal {
      visibility: visible;
      opacity: 1;
      transform: scale(1);

      .certificate__modal-content {
        opacity: 1;
      }

      .close-modal {
        transform: translateY(10px);
        opacity: 1;
      }
    }
    .modal-overlay__certificate {
      padding: 0 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity $speed $easing, visibility $speed $easing;
      backdrop-filter: saturate(180%) blur(15px);
      &.activeModal {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .doctorDetails__reviews {
    background-color: #f8f9fc;
    padding: 50px 0 30px 0;
    .container-fluid {
      .container {
        padding: 0;
        .doctorDetails__reviews__head-text {
          padding: 0;
          margin-bottom: 10px;
          @include font-style(28px, $primary1_500, $base-color);
          text-align: center;
        }
        .doctorDetails__reviews__content {
          display: flex;
          flex-wrap: wrap;
          border-radius: 8px;
          padding: 30px 0;
          @media (max-width: 767.98px) {
            padding: 30px 0 0 0;
          }
          .doctorDetails__review_item {
            padding: 0 30px 0 30px;
            width: 50%;
            @media (max-width: 991.98px) {
              padding: 0 20px 0 20px;
            }
            @media (max-width: 767.98px) {
              width: 100%;
            }
            &:nth-of-type(odd) {
              padding-left: 0;
              @media (max-width: 767.98px) {
                padding-right: 0;
              }
            }
            &:nth-of-type(even) {
              margin-top: 50px;
              padding-right: 0;
              @media (max-width: 767.98px) {
                padding-bottom: 50px;
                padding-left: 100px;
              }
              @media (max-width: 575.98px) {
                padding-left: 0;
              }
            }
            .review_text {
              position: relative;
              @include font-style(16px, $primary1_300, $base-text);
              line-height: 1.2;
              padding: 30px 25px 25px 25px;
              margin-left: 70px;
              border-radius: 8px;
              background-color: $base-light;
              // letter-spacing: -0.5px;
              @media (max-width: 767.98px) {
                margin-left: 65px;
              }
              &::after,
              &::before {
                content: "";
                position: absolute;
                z-index: 1;
                right: 100%;
                bottom: 0.25em;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background: #f8f9fc;
              }

              &::before {
                border-top: none;
                height: 0.9em;
                border-radius: 50% 50% 0 0 / 100% 100% 0 0;
                background-color: $base-light;

                border-color: $base-color;
                margin-right: -1.1em;
              }
            }
            .review__user-content {
              padding-right: 20px;
              display: flex;
              justify-content: space-between;
              @media (max-width: 575.98px) {
                padding-right: 0;
              }
              .review__user_box {
                display: flex;
                align-items: center;
                .user__img-box {
                  width: 50px;
                  height: 50px;
                  margin-right: 10px;
                  img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                  }
                }
                .user__name {
                  @include font-style(16px, $primary1_400, $base-color);
                }
              }
              .review__rating_box {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .review__rating {
                  margin-bottom: 10px;
                  i {
                    color: $base-color;
                  }
                }
                .review-date {
                  text-align: right;
                  @include font-style(12px, $primary1_400, $base-text1);
                }
              }
            }
          }
        }
      }
    }
  }
  .doctorDetails__form-reviews {
    background: linear-gradient(0deg, $base-color, #00cec8);
    padding: 50px 0;
    .container-fluid {
      .container {
        padding: 0;
        .head-text {
          margin: 0 0 40px 0;
          @include font-style(28px, $primary1_400, $base-light);
          line-height: 1.2;
          @media (max-width: 767.98px) {
            font-size: 25px;
          }
        }
        .authorization-box {
          display: flex;
          justify-content: center;
          padding-bottom: 30px;
          a {
            background-color: #eee;
            width: 60px;
            height: 60px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 0.3s;
            i {
              font-size: 30px;
              color: $base-color;
            }
            &:hover {
              background-color: rgba($primary-main-1, 0.8);
              i {
                color: #eee;
              }
            }
          }
        }
        .row {
          justify-content: center;
          .form-reviews__content {
            opacity: 0.4;
            transition: 0.3s;
            &:hover {
              opacity: 1;
            }
            border-radius: 8px;
            form {
              textarea,
              input[type="text"],
              input[type="button"],
              input[type="submit"],
              input[type="email"] {
                -webkit-appearance: none;
                border-radius: 0;
              }
              .form-reviews__top-section {
                border-radius: 8px 8px 0 0;
                background-color: rgba($primary-main-1, 0.8);
                padding: 15px 15px 0 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 767.98px) {
                  padding: 15px 15px 0 15px;
                }
                .user_info {
                  display: flex;
                  align-items: center;
                  margin-bottom: 15px;
                  .user_info__box-logo {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                  }
                  .user_name {
                    @include font-style(16px, $primary1_400, $base-light);
                  }
                }
                .review__rating-container {
                  .review-text {
                    @include font-style(13px, $primary1_300, rgba($base-light, 0.8));
                    margin-bottom: 5px;
                  }
                  .review__rating-box {
                    right: 20px;
                    bottom: 20px;
                    color: $base-light;
                  }
                }
              }
              label {
                display: block;
                textarea {
                  border-radius: 0 0 8px 8px;
                  @include font-style(16px, $primary1_300, $base-text);
                  border: 1px solid rgba($base-text, 0.2);
                  width: 100%;
                  height: calc(100% - 29px);
                  box-shadow: 0px 10px 20px rgba(#000, 0.1);
                  line-height: 18px;
                  padding: 14px 15px 12px;
                  outline: none;
                  resize: none;
                  background-color: #f8f9fc;
                  cursor: pointer;
                  background-color: $base-light;
                }
              }
              .form-reviews__button {
                input {
                  padding: 11px 20px;
                  background-color: rgba($primary-main-1, 0.8);
                  border: none;
                  @include font-style(16px, $primary1_400, $base-light);
                  transition: 0.3s all;
                  cursor: pointer;
                  outline: none;
                  border-radius: 6px;
                  margin-top: 20px;

                  &:hover {
                    background-color: rgba($primary-main-1, 0.6);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
